body{
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.mosquito1{
	width: 50px;
	height: 50px;
}
.mosquito3{
	width: 70px;
	height: 70px;
}
.mosquito2{
	width: 90px;
	height: 90px;
}
.ladoA{
	transform: scaleX(1); /* esse lado é nosso lado comum, não precisaria ser declarado */
}
.ladoB{
	transform : scaleX(-1); /*lado b*/
}
.painel{
	position: absolute;
	width: 190px;
	left: 0px;
	padding: 10px;
	bottom: 0px; /*fixar a div no canto inferior esquerdo*/
	border-top: solid 1px white;
	background-color: white;
	opacity: 0.7; /*deixando 30% transparente*/
}
.vidas{
	float: left;
}
.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold;
}